n8n-workflows/wsp-kling-image-agent.json
{
  "name": "WSP – Replicate Image Agent (Produktbilder generieren)",
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Manuell starten",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [80, 300],
      "parameters": {}
    },
    {
      "id": "trigger-schedule",
      "name": "Täglich 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [80, 460],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "get-listings",
      "name": "Listings ohne Bild holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 380],
      "parameters": {
        "method": "GET",
        "url": "https://commerce-api-production-614e.up.railway.app/api/admin/market-listings/needs-images",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.WSP_ADMIN_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "check-empty",
      "name": "Listings vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-count",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "no-work",
      "name": "Nichts zu tun",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [760, 500],
      "parameters": {}
    },
    {
      "id": "listings-extract",
      "name": "Listings extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst listings = items[0].json.data;\nif (!Array.isArray(listings) || listings.length === 0) return [];\nreturn [{ json: listings[0] }];"
      }
    },
    {
      "id": "build-prompt",
      "name": "Prompt aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst listing = items[0].json;\n\nconst CATEGORY_PROMPTS = {\n  wechselrichter: 'solar string inverter, wall-mounted in clean technical room, white rectangular enclosure, LED display, cable connections',\n  solarspeicher: 'home battery energy storage system, modern garage setting, tall cabinet with battery management display',\n  solaranlage: 'residential rooftop photovoltaic solar system, modern house, black monocrystalline panels, blue sky',\n  solarzaun: 'solar fence with integrated photovoltaic panels, modern garden boundary, elegant design',\n  skywind: 'small wind turbine, rooftop installation, clear blue sky, modern compact design',\n  laderegler: 'MPPT solar charge controller, compact device with LCD display, mounted on white panel',\n  optimizer: 'solar power optimizer, small rectangular black module, MC4 connectors',\n  halterung: 'solar panel aluminum mounting system, anodized profiles, clean white background',\n};\n\nconst category = listing.category ?? 'solaranlage';\nconst categoryHint = CATEGORY_PROMPTS[category] ?? 'solar energy device, professional product photo';\nconst brandModel = [listing.brand, listing.model].filter(Boolean).join(' ');\nconst subject = brandModel ? `${brandModel} ${category}` : (listing.productType ?? category);\n\nconst prompt = [\n  `Commercial e-commerce product photograph: ${subject},`,\n  categoryHint + '.',\n  'Professional studio lighting, photorealistic, sharp focus, 4K quality.',\n  'No text overlays, no watermarks. High-end commercial product photography for a solar energy webshop.',\n].join(' ');\n\nreturn [{ json: { ...listing, imagePrompt: prompt } }];"
      }
    },
    {
      "id": "fal-generate",
      "name": "fal.ai – Bild generieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux/schnell",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key {{ $vars.FAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.imagePrompt }}\",\n  \"image_size\": \"square_hd\",\n  \"num_inference_steps\": 4,\n  \"num_images\": 1,\n  \"enable_safety_checker\": false\n}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "extract-url",
      "name": "Bild-URL extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 300],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst listing = $('Prompt aufbauen').first().json;\nif (!result.images?.[0]?.url) {\n  throw new Error('fal.ai Fehler: kein Bild zurückgegeben');\n}\nreturn [{ json: { ...listing, generatedImageUrl: result.images[0].url } }];"
      }
    },
    {
      "id": "cloudinary-upload",
      "name": "Cloudinary Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $vars.CLOUDINARY_CLOUD_NAME }}/image/upload",
        "authentication": "none",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.generatedImageUrl }}"
            },
            {
              "name": "upload_preset",
              "value": "={{ $vars.CLOUDINARY_UPLOAD_PRESET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "set-image",
      "name": "Produktbild setzen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://commerce-api-production-614e.up.railway.app/api/admin/market-listings/{{ $('Bild-URL extrahieren').first().json.id }}/set-image",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.WSP_ADMIN_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"imageUrl\": \"{{ $json.secure_url }}\",\n  \"source\": \"replicate-n8n\"\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "done",
      "name": "Fertig",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2080, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Manuell starten": {
      "main": [
        [
          {
            "node": "Listings ohne Bild holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Täglich 09:00": {
      "main": [
        [
          {
            "node": "Listings ohne Bild holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listings ohne Bild holen": {
      "main": [
        [
          {
            "node": "Listings vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listings vorhanden?": {
      "main": [
        [
          {
            "node": "Listings extrahieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nichts zu tun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listings extrahieren": {
      "main": [
        [
          {
            "node": "Prompt aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt aufbauen": {
      "main": [
        [
          {
            "node": "fal.ai – Bild generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fal.ai – Bild generieren": {
      "main": [
        [
          {
            "node": "Bild-URL extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-URL extrahieren": {
      "main": [
        [
          {
            "node": "Cloudinary Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary Upload": {
      "main": [
        [
          {
            "node": "Produktbild setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produktbild setzen": {
      "main": [
        [
          {
            "node": "Fertig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "tags": [
    "wsp",
    "replicate",
    "images"
  ]
}
