n8n-workflows/wsp-kling-image-agent.json
{
  "name": "WSP – Kling Image Agent (Produktbilder generieren)",
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Manuell starten",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        300
      ],
      "parameters": {}
    },
    {
      "id": "trigger-schedule",
      "name": "Täglich 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        460
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "get-listings",
      "name": "Listings ohne Bild holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        380
      ],
      "parameters": {
        "method": "GET",
        "url": "https://commerce-api-production-614e.up.railway.app/api/admin/market-listings/needs-images?key={{ $vars.WSP_ADMIN_KEY }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "check-empty",
      "name": "Listings vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-count",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "no-work",
      "name": "Nichts zu tun",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "parameters": {}
    },
    {
      "id": "split-batches",
      "name": "Einzeln verarbeiten",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        760,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "build-prompt",
      "name": "Kling-Prompt aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst listing = items[0].json;\n\nconst CATEGORY_PROMPTS = {\n  wechselrichter: 'solar string inverter, wall-mounted in clean technical room, white rectangular enclosure, LED display, cable connections',\n  solarspeicher: 'home battery energy storage system, modern garage setting, tall cabinet with battery management display',\n  solaranlage: 'residential rooftop photovoltaic solar system, modern house, black monocrystalline panels, blue sky',\n  solarzaun: 'solar fence with integrated photovoltaic panels, modern garden boundary, elegant design',\n  skywind: 'small wind turbine, rooftop installation, clear blue sky, modern compact design',\n  laderegler: 'MPPT solar charge controller, compact device with LCD display, mounted on white panel',\n  optimizer: 'solar power optimizer, small rectangular black module, MC4 connectors',\n  halterung: 'solar panel aluminum mounting system, anodized profiles, clean white background',\n};\n\nconst category = listing.category ?? 'solaranlage';\nconst categoryHint = CATEGORY_PROMPTS[category] ?? 'solar energy device, professional product photo';\nconst brandModel = [listing.brand, listing.model].filter(Boolean).join(' ');\nconst subject = brandModel ? `${brandModel} ${category}` : (listing.productType ?? category);\n\nconst prompt = [\n  `Commercial e-commerce product photograph: ${subject},`,\n  categoryHint + '.',\n  'Professional studio lighting, photorealistic, sharp focus, 4K quality.',\n  'No text overlays, no watermarks. High-end commercial product photography for a solar energy webshop.',\n].join(' ');\n\nreturn [{ json: { ...listing, klingPrompt: prompt } }];"
      }
    },
    {
      "id": "kling-submit",
      "name": "Kling – Bild generieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.klingai.com/v1/images/generations",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.KLING_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kling-v1\",\n  \"prompt\": \"{{ $json.klingPrompt }}\",\n  \"n\": 1,\n  \"image_count\": 1,\n  \"aspect_ratio\": \"1:1\"\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "save-task-id",
      "name": "Task-ID merken",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ],
      "parameters": {
        "jsCode": "const submitResult = $input.first().json;\nconst prevData = $('Kling-Prompt aufbauen').first().json;\n\nif (submitResult.code !== 0) {\n  throw new Error(`Kling Fehler: ${submitResult.message ?? 'Unbekannt'}`);\n}\n\nconst taskId = submitResult.data?.task_id;\nif (!taskId) throw new Error('Kein task_id von Kling erhalten');\n\nreturn [{ json: { ...prevData, klingTaskId: taskId } }];"
      }
    },
    {
      "id": "wait-1",
      "name": "45s warten",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1640,
        300
      ],
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 45
      },
      "webhookId": "wait-kling-1"
    },
    {
      "id": "kling-poll-1",
      "name": "Kling – Status prüfen (1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.klingai.com/v1/images/generations/{{ $json.klingTaskId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.KLING_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "check-status-1",
      "name": "Fertig? (Versuch 1)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-succeed-1",
              "leftValue": "={{ $json.data.task_status }}",
              "rightValue": "succeed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "wait-2",
      "name": "30s warten (Retry)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2300,
        440
      ],
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 30
      },
      "webhookId": "wait-kling-2"
    },
    {
      "id": "kling-poll-2",
      "name": "Kling – Status prüfen (2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        440
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.klingai.com/v1/images/generations/{{ $('Task-ID merken').first().json.klingTaskId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.KLING_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "check-status-2",
      "name": "Fertig? (Versuch 2)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2740,
        440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-succeed-2",
              "leftValue": "={{ $json.data.task_status }}",
              "rightValue": "succeed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "extract-url-1",
      "name": "Bild-URL extrahieren (1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        180
      ],
      "parameters": {
        "jsCode": "const pollResult = $input.first().json;\nconst listing = $('Task-ID merken').first().json;\nconst klingUrl = pollResult.data?.task_result?.images?.[0]?.url;\nif (!klingUrl) throw new Error('Kein Bild-URL in Kling-Antwort');\nreturn [{ json: { ...listing, klingImageUrl: klingUrl } }];"
      }
    },
    {
      "id": "extract-url-2",
      "name": "Bild-URL extrahieren (2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        340
      ],
      "parameters": {
        "jsCode": "const pollResult = $input.first().json;\nconst listing = $('Task-ID merken').first().json;\nconst klingUrl = pollResult.data?.task_result?.images?.[0]?.url;\nif (!klingUrl) throw new Error('Kling Timeout – kein Bild nach 2 Versuchen');\nreturn [{ json: { ...listing, klingImageUrl: klingUrl } }];"
      }
    },
    {
      "id": "cloudinary-upload-1",
      "name": "Cloudinary Upload (1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $vars.CLOUDINARY_CLOUD_NAME }}/image/upload",
        "authentication": "none",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.klingImageUrl }}"
            },
            {
              "name": "upload_preset",
              "value": "={{ $vars.CLOUDINARY_UPLOAD_PRESET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "cloudinary-upload-2",
      "name": "Cloudinary Upload (2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        340
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $vars.CLOUDINARY_CLOUD_NAME }}/image/upload",
        "authentication": "none",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.klingImageUrl }}"
            },
            {
              "name": "upload_preset",
              "value": "={{ $vars.CLOUDINARY_UPLOAD_PRESET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "set-image-1",
      "name": "Produktbild setzen (1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        180
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://commerce-api-production-614e.up.railway.app/api/admin/market-listings/{{ $('Task-ID merken').first().json.id }}/set-image?key={{ $vars.WSP_ADMIN_KEY }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"imageUrl\": \"{{ $json.secure_url }}\",\n  \"source\": \"kling-n8n\"\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "set-image-2",
      "name": "Produktbild setzen (2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        340
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://commerce-api-production-614e.up.railway.app/api/admin/market-listings/{{ $('Task-ID merken').first().json.id }}/set-image?key={{ $vars.WSP_ADMIN_KEY }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"imageUrl\": \"{{ $json.secure_url }}\",\n  \"source\": \"kling-n8n-retry\"\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "done",
      "name": "Fertig",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2960,
        180
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Manuell starten": {
      "main": [
        [
          {
            "node": "Listings ohne Bild holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Täglich 09:00": {
      "main": [
        [
          {
            "node": "Listings ohne Bild holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listings ohne Bild holen": {
      "main": [
        [
          {
            "node": "Listings vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listings vorhanden?": {
      "main": [
        [
          {
            "node": "Einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nichts zu tun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Kling-Prompt aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kling-Prompt aufbauen": {
      "main": [
        [
          {
            "node": "Kling – Bild generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kling – Bild generieren": {
      "main": [
        [
          {
            "node": "Task-ID merken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task-ID merken": {
      "main": [
        [
          {
            "node": "45s warten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "45s warten": {
      "main": [
        [
          {
            "node": "Kling – Status prüfen (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kling – Status prüfen (1)": {
      "main": [
        [
          {
            "node": "Fertig? (Versuch 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fertig? (Versuch 1)": {
      "main": [
        [
          {
            "node": "Bild-URL extrahieren (1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30s warten (Retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-URL extrahieren (1)": {
      "main": [
        [
          {
            "node": "Cloudinary Upload (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary Upload (1)": {
      "main": [
        [
          {
            "node": "Produktbild setzen (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produktbild setzen (1)": {
      "main": [
        [
          {
            "node": "Fertig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30s warten (Retry)": {
      "main": [
        [
          {
            "node": "Kling – Status prüfen (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kling – Status prüfen (2)": {
      "main": [
        [
          {
            "node": "Fertig? (Versuch 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fertig? (Versuch 2)": {
      "main": [
        [
          {
            "node": "Bild-URL extrahieren (2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fertig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-URL extrahieren (2)": {
      "main": [
        [
          {
            "node": "Cloudinary Upload (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary Upload (2)": {
      "main": [
        [
          {
            "node": "Produktbild setzen (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produktbild setzen (2)": {
      "main": [
        [
          {
            "node": "Fertig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {},
  "tags": [
    "wsp",
    "kling",
    "images"
  ]
}