docs/n8n/workflows/wsp-market-scout-rss.json
{
  "name": "WSP Market – Scout Kleinanzeigen RSS (kostenlos)",
  "nodes": [
    {
      "id": "c3d4e5f6-0001-4001-8001-111111111111",
      "name": "Täglich 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 200],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0002-4002-8002-222222222222",
      "name": "Manuell starten",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 420],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-0003-4003-8003-333333333333",
      "name": "Keywords laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300],
      "parameters": {
        "jsCode": "// MAX_AGE_DAYS: Anzeigen älter als N Tage werden übersprungen\nconst MAX_AGE_DAYS = 3;\n\nconst keywords = [\n  // SOLARSPEICHER – HOCH\n  { keyword: 'Sungrow SBR', category: 'solarspeicher' },\n  { keyword: 'BYD HVS Speicher', category: 'solarspeicher' },\n  { keyword: 'BYD Battery Box', category: 'solarspeicher' },\n  { keyword: 'Anker Solix Speicher', category: 'solarspeicher' },\n  { keyword: 'Pylontech Speicher', category: 'solarspeicher' },\n  { keyword: 'SENEC Speicher', category: 'solarspeicher' },\n  { keyword: 'E3DC Hauskraftwerk', category: 'solarspeicher' },\n  { keyword: 'Victron Speicher', category: 'solarspeicher' },\n  // SOLARZAUN – HOCH\n  { keyword: 'Solarzaun', category: 'solarzaun' },\n  { keyword: 'PV Zaun bifazial', category: 'solarzaun' },\n  { keyword: 'bifaziale Solarmodule Zaun', category: 'solarzaun' },\n  // SOLARANLAGE + SPEICHER – MITTEL\n  { keyword: 'Photovoltaik Komplettanlage Speicher', category: 'solaranlage' },\n  { keyword: 'PV Anlage mit Speicher', category: 'solaranlage' },\n  // WECHSELRICHTER – MITTEL\n  { keyword: 'Sungrow Hybrid Wechselrichter', category: 'wechselrichter' },\n  { keyword: 'Fronius Hybrid Wechselrichter', category: 'wechselrichter' },\n  // BALKONKRAFTWERK + SPEICHER – MITTEL\n  { keyword: 'Balkonkraftwerk Speicher', category: 'balkonkraftwerk' },\n  { keyword: 'Anker Solix Balkonkraftwerk', category: 'balkonkraftwerk' },\n];\n\nreturn keywords.map(k => ({\n  json: {\n    keyword: k.keyword,\n    category: k.category,\n    maxAgeDays: MAX_AGE_DAYS,\n    rssUrl: (function() {\n      let slug = '';\n      const lower = k.keyword.toLowerCase();\n      for (let i = 0; i < lower.length; i++) {\n        const code = lower.charCodeAt(i);\n        if (lower[i] === ' ') { slug += '-'; }\n        else if ((code >= 97 && code <= 122) || (code >= 48 && code <= 57)) { slug += lower[i]; }\n      }\n      return 'https://www.kleinanzeigen.de/s-' + slug + '/rss.html';\n    })(),\n  }\n}));"
      }
    },
    {
      "id": "c3d4e5f6-0004-4004-8004-444444444444",
      "name": "RSS Feed laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [580, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $json.rssUrl }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; WSP-MarketScout/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml, application/xml, text/xml"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "c3d4e5f6-0005-4005-8005-555555555555",
      "name": "RSS parsen + Altersfilter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const MAX_AGE_DAYS = 3;\nconst now = Date.now();\nconst maxAgeMs = MAX_AGE_DAYS * 24 * 60 * 60 * 1000;\n\nfunction getTagContent(text, tag) {\n  const open = '<' + tag + '>';\n  const s = text.indexOf(open);\n  if (s === -1) return '';\n  const e = text.indexOf('</' + tag + '>', s);\n  if (e === -1) return '';\n  let content = text.substring(s + open.length, e).trim();\n  if (content.indexOf('<![CDATA[') === 0) {\n    const cdEnd = content.lastIndexOf(']]>');\n    content = content.substring(9, cdEnd === -1 ? content.length : cdEnd).trim();\n  }\n  return content;\n}\n\nfunction stripHtml(html) {\n  let result = '';\n  let inTag = false;\n  for (let i = 0; i < html.length; i++) {\n    const ch = html[i];\n    if (ch === '<') { inTag = true; continue; }\n    if (ch === '>') { inTag = false; result += ' '; continue; }\n    if (!inTag) result += ch;\n  }\n  let clean = '';\n  let lastSpace = false;\n  for (let i = 0; i < result.length; i++) {\n    const code = result.charCodeAt(i);\n    if (code === 32 || code === 10 || code === 13 || code === 9) {\n      if (!lastSpace) { clean += ' '; lastSpace = true; }\n    } else {\n      clean += result[i]; lastSpace = false;\n    }\n  }\n  return clean.trim();\n}\n\nfunction extractPrice(cleanText) {\n  const euroIdx = cleanText.indexOf('\\u20ac');\n  if (euroIdx === -1) return null;\n  let start = euroIdx - 1;\n  while (start >= 0) {\n    const c = cleanText.charCodeAt(start);\n    if ((c >= 48 && c <= 57) || cleanText[start] === '.' || cleanText[start] === ',' || cleanText[start] === ' ') {\n      start--;\n    } else { break; }\n  }\n  let end = euroIdx + 2;\n  if (cleanText.substring(end, end + 3) === ' VB') end += 3;\n  const candidate = cleanText.substring(start + 1, end).trim();\n  let hasDigit = false;\n  for (let i = 0; i < candidate.length; i++) {\n    if (candidate.charCodeAt(i) >= 48 && candidate.charCodeAt(i) <= 57) { hasDigit = true; break; }\n  }\n  return (hasDigit && candidate.length < 30) ? candidate : null;\n}\n\nfunction parseRssItems(xml) {\n  const seen = new Set();\n  const listings = [];\n  let pos = 0;\n  while (pos < xml.length) {\n    const itemStart = xml.indexOf('<item>', pos);\n    if (itemStart === -1) break;\n    const itemEnd = xml.indexOf('</item>', itemStart);\n    if (itemEnd === -1) break;\n    const item = xml.substring(itemStart + 6, itemEnd);\n    pos = itemEnd + 7;\n    const pubDateStr = getTagContent(item, 'pubDate');\n    if (pubDateStr) {\n      const pubTs = new Date(pubDateStr).getTime();\n      if (!isNaN(pubTs) && now - pubTs > maxAgeMs) continue;\n    }\n    const link = getTagContent(item, 'link');\n    const title = getTagContent(item, 'title');\n    const descClean = stripHtml(getTagContent(item, 'description'));\n    let adId = null;\n    for (const seg of link.split('?')[0].split('#')[0].split('/')) {\n      const part = seg.split('-')[0];\n      if (part.length >= 7 && part.length <= 12) {\n        let isNum = true;\n        for (let i = 0; i < part.length; i++) {\n          const c = part.charCodeAt(i);\n          if (c < 48 || c > 57) { isNum = false; break; }\n        }\n        if (isNum) { adId = part; break; }\n      }\n    }\n    if (!adId || !title) continue;\n    if (seen.has(adId)) continue;\n    seen.add(adId);\n    listings.push({\n      adId, title,\n      price: extractPrice(descClean),\n      description: descClean || null,\n      location: null, plz: null,\n      date: pubDateStr || null,\n      url: link || null,\n      image: null, shipping: null,\n    });\n  }\n  return listings;\n}\n\n// Alle 17 Keywords + RSS-Responses paarweise verarbeiten\nconst keywordItems = $('Keywords laden').all();\nconst rssItems = $input.all();\nconst results = [];\n\nfor (let i = 0; i < rssItems.length; i++) {\n  const kwItem = keywordItems[i];\n  const keyword = kwItem ? kwItem.json.keyword : 'unknown';\n  const category = kwItem ? kwItem.json.category : '';\n  const rssJson = rssItems[i].json;\n  const xml = String(rssJson.data || rssJson || '');\n  const listings = parseRssItems(xml);\n  results.push({\n    json: {\n      source: 'kleinanzeigen',\n      keyword,\n      category,\n      listingCount: listings.length,\n      listings,\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "c3d4e5f6-0006-4006-8006-666666666666",
      "name": "Commerce Bulk Import",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300],
      "parameters": {
        "method": "POST",
        "url": "https://commerce-api-production-614e.up.railway.app/api/admin/market-listings/bulk",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Key",
              "value": "HIER_ADMIN_SECRET_EINTRAGEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: $json.source, keyword: $json.keyword, listings: $json.listings }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "c3d4e5f6-0007-4007-8007-777777777777",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-scout-rss-001",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0008-4008-8008-888888888888",
      "name": "Import OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 180],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-0009-4009-8009-999999999999",
      "name": "Fehler – prüfe Logs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 440],
      "parameters": {}
    }
  ],
  "connections": {
    "Täglich 06:00": {
      "main": [
        [
          {
            "node": "Keywords laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manuell starten": {
      "main": [
        [
          {
            "node": "Keywords laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords laden": {
      "main": [
        [
          {
            "node": "RSS Feed laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed laden": {
      "main": [
        [
          {
            "node": "RSS parsen + Altersfilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS parsen + Altersfilter": {
      "main": [
        [
          {
            "node": "Commerce Bulk Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commerce Bulk Import": {
      "main": [
        [
          {
            "node": "Erfolgreich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erfolgreich?": {
      "main": [
        [
          {
            "node": "Import OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fehler – prüfe Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wsp-market"
    }
  ]
}
