docs/n8n/workflows/wsp-market-scout-rss.json
{
  "name": "WSP Market – Scout Kleinanzeigen (HTML)",
  "nodes": [
    {
      "id": "c3d4e5f6-0001-4001-8001-111111111111",
      "name": "Täglich 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 200],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-0002-4002-8002-222222222222",
      "name": "Manuell starten",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 420],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-0003-4003-8003-333333333333",
      "name": "Keywords laden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300],
      "parameters": {
        "jsCode": "// URL-Format: /s-multimedia-elektronik/sonstiges/{slug}/k0c168\n// Slugs muessen gueltige Kleinanzeigen-Suchbegriffe sein\nconst BASE = 'https://www.kleinanzeigen.de/s-multimedia-elektronik/sonstiges/';\nconst SUFFIX = '/k0c168';\n\nconst keywords = [\n  // SOLARANLAGE / ALLGEMEIN – vom User bestaetigt\n  { keyword: 'Solaranlagen', slug: 'solaranlagen', category: 'solaranlage' },\n  { keyword: 'Solarcarport', slug: 'solarcarport', category: 'solaranlage' },\n  { keyword: 'Solarzaun', slug: 'solarzaun', category: 'solarzaun' },\n  { keyword: 'Solar', slug: 'solar', category: 'solaranlage' },\n  // WECHSELRICHTER / BRANDS – vom User bestaetigt\n  { keyword: 'Sungrow', slug: 'sungrow', category: 'wechselrichter' },\n  { keyword: 'Fronius', slug: 'fronius', category: 'wechselrichter' },\n  { keyword: 'SMA', slug: 'sma', category: 'wechselrichter' },\n  { keyword: 'Solax', slug: 'solax', category: 'wechselrichter' },\n  { keyword: 'Solis', slug: 'solis', category: 'wechselrichter' },\n  // SPEICHER / BRANDS\n  { keyword: 'Victron Energy', slug: 'victron-energy', category: 'solarspeicher' },\n  { keyword: 'Pylontech', slug: 'pylontech', category: 'solarspeicher' },\n  // BALKONKRAFTWERK – vom User bestaetigt\n  { keyword: 'Anker Solix', slug: 'anker-solix', category: 'balkonkraftwerk' },\n  { keyword: 'Anker Smartmeter', slug: 'anker-smartmeter', category: 'balkonkraftwerk' },\n  { keyword: 'Anker', slug: 'anker', category: 'balkonkraftwerk' },\n];\n\nreturn keywords.map(k => ({\n  json: {\n    keyword: k.keyword,\n    category: k.category,\n    searchUrl: BASE + k.slug + SUFFIX,\n  }\n}));"
      }
    },
    {
      "id": "c3d4e5f6-0004-4004-8004-444444444444",
      "name": "Kleinanzeigen laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [580, 300],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $json.searchUrl }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "de-DE,de;q=0.9,en;q=0.8"
            },
            {
              "name": "Referer",
              "value": "https://www.kleinanzeigen.de/"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "c3d4e5f6-0005-4005-8005-555555555555",
      "name": "HTML parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function parseKleinanzeigenHtml(html) {\n  const listings = [];\n  const seen = new Set();\n  const adIdSearch = 'data-adid=\"';\n  let pos = 0;\n\n  while (pos < html.length && listings.length < 25) {\n    const adIdIdx = html.indexOf(adIdSearch, pos);\n    if (adIdIdx === -1) break;\n\n    // Kontext: bis zum naechsten data-adid oder max 4000 Zeichen\n    const nextAdId = html.indexOf(adIdSearch, adIdIdx + adIdSearch.length);\n    const ctxEnd = nextAdId !== -1 ? nextAdId : Math.min(html.length, adIdIdx + 4000);\n    const ctx = html.substring(adIdIdx, ctxEnd);\n    pos = ctxEnd;\n\n    // adId extrahieren\n    const adIdStart = adIdSearch.length;\n    const adIdEnd = ctx.indexOf('\"', adIdStart);\n    if (adIdEnd === -1 || adIdEnd - adIdStart > 15) continue;\n    const adId = ctx.substring(adIdStart, adIdEnd);\n\n    // Nur Ziffern, 7-12 Stellen\n    if (adId.length < 7 || adId.length > 12) continue;\n    let isNum = true;\n    for (let i = 0; i < adId.length; i++) {\n      const c = adId.charCodeAt(i);\n      if (c < 48 || c > 57) { isNum = false; break; }\n    }\n    if (!isNum || seen.has(adId)) continue;\n    seen.add(adId);\n\n    // URL: data-href bevorzugt, dann href=/s-anzeige/\n    let url = null;\n    const dataHref = 'data-href=\"';\n    const dIdx = ctx.indexOf(dataHref);\n    if (dIdx !== -1) {\n      const s = dIdx + dataHref.length;\n      const e = ctx.indexOf('\"', s);\n      if (e !== -1) url = 'https://www.kleinanzeigen.de' + ctx.substring(s, e);\n    }\n    if (!url) {\n      const hSearch = 'href=\"/s-anzeige/';\n      const hIdx = ctx.indexOf(hSearch);\n      if (hIdx !== -1) {\n        const s = hIdx + 6;\n        const e = ctx.indexOf('\"', s);\n        if (e !== -1) url = 'https://www.kleinanzeigen.de' + ctx.substring(s, e);\n      }\n    }\n\n    // Titel aus <h2>...</h2>\n    let title = null;\n    const h2Idx = ctx.indexOf('<h2');\n    if (h2Idx !== -1) {\n      const gtIdx = ctx.indexOf('>', h2Idx);\n      if (gtIdx !== -1) {\n        const closeIdx = ctx.indexOf('</h2>', gtIdx);\n        if (closeIdx !== -1) {\n          const raw = ctx.substring(gtIdx + 1, closeIdx);\n          let t = '';\n          let inTag = false;\n          for (let i = 0; i < raw.length; i++) {\n            if (raw[i] === '<') { inTag = true; continue; }\n            if (raw[i] === '>') { inTag = false; continue; }\n            if (!inTag) t += raw[i];\n          }\n          title = t.trim();\n        }\n      }\n    }\n    if (!title || title.length < 3) title = 'Anzeige ' + adId;\n\n    // Preis aus Preis-Klasse\n    let price = null;\n    const priceClass = 'aditem-main--middle--price';\n    const pIdx = ctx.indexOf(priceClass);\n    if (pIdx !== -1) {\n      const gtIdx = ctx.indexOf('>', pIdx);\n      if (gtIdx !== -1) {\n        const ltIdx = ctx.indexOf('<', gtIdx + 1);\n        if (ltIdx !== -1) {\n          const candidate = ctx.substring(gtIdx + 1, ltIdx).trim();\n          if (candidate.length > 0 && candidate.length < 30) price = candidate;\n        }\n      }\n    }\n\n    listings.push({\n      adId, title,\n      price: price || null,\n      description: null, location: null, plz: null,\n      date: null,\n      url: url || null,\n      image: null, shipping: null,\n    });\n  }\n\n  return listings;\n}\n\nconst keywordItems = $('Keywords laden').all();\nconst htmlItems = $input.all();\nconst results = [];\n\nfor (let i = 0; i < htmlItems.length; i++) {\n  const kwItem = keywordItems[i];\n  const keyword = kwItem ? kwItem.json.keyword : 'unknown';\n  const category = kwItem ? kwItem.json.category : '';\n  const htmlJson = htmlItems[i].json;\n  const html = String(htmlJson.data || htmlJson || '');\n  const listings = parseKleinanzeigenHtml(html);\n  results.push({\n    json: {\n      source: 'kleinanzeigen',\n      keyword,\n      category,\n      listingCount: listings.length,\n      listings,\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "c3d4e5f6-0006-4006-8006-666666666666",
      "name": "Commerce Bulk Import",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300],
      "parameters": {
        "method": "POST",
        "url": "https://commerce-api-production-614e.up.railway.app/api/admin/market-listings/bulk",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Key",
              "value": "HIER_ADMIN_SECRET_EINTRAGEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: $json.source, keyword: $json.keyword, listings: $json.listings }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "c3d4e5f6-0007-4007-8007-777777777777",
      "name": "Erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-scout-html-001",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0008-4008-8008-888888888888",
      "name": "Import OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 180],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-0009-4009-8009-999999999999",
      "name": "Fehler – prüfe Logs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 440],
      "parameters": {}
    }
  ],
  "connections": {
    "Täglich 06:00": {
      "main": [
        [
          {
            "node": "Keywords laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manuell starten": {
      "main": [
        [
          {
            "node": "Keywords laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keywords laden": {
      "main": [
        [
          {
            "node": "Kleinanzeigen laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kleinanzeigen laden": {
      "main": [
        [
          {
            "node": "HTML parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML parsen": {
      "main": [
        [
          {
            "node": "Commerce Bulk Import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commerce Bulk Import": {
      "main": [
        [
          {
            "node": "Erfolgreich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erfolgreich?": {
      "main": [
        [
          {
            "node": "Import OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fehler – prüfe Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "wsp-market"
    }
  ]
}
